<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/axios.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app" >
    <el-header class="header" style="height: 60px; font-size: 12px ; text-align: left;display: flex; padding-top: 24px">
        <i class="el-icon-bangzhu" style="color:#409EFF;font-size: 35px;width: 300px">GM-System</i>
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect"  text-color="#91c6fc" active-text-color="#1577DCFF" style="width: 600px; margin-left: 150px;border-bottom-color: transparent;">
            <el-menu-item index="1" style="font-size: 15px">个人信息</el-menu-item>
            <el-menu-item index="2" style="font-size: 15px">成绩查询</el-menu-item>
            <el-menu-item index="3" style="font-size: 15px">班级课表查询</el-menu-item>
            <el-menu-item index="4" style="font-size: 15px">课程查询</el-menu-item>
        </el-menu>
        <el-dropdown @command="handleCommand" style="margin-left: 250px">
            <i class="el-icon-user-solid" style="color:#1577dc;font-size: 15px;"></i>
            <span id="username" style="font-size: 15px;margin-left: 10px">{{tableData.dsg_sname22}}</span>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="b">注销</el-dropdown-item>
                <el-dropdown-item command="a">修改密码</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-header>
    <el-divider style="background-color: #13ce66"></el-divider>
    <div  v-show="display1" >
        <el-main>
            <el-descriptions class="margin-top" title="个人信息" :column="3" border>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-user"></i>
                        学号
                    </template>
                    {{tableData.dsg_sno22}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-user"></i>
                        姓名
                    </template>
                    {{tableData.dsg_sname22}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-user"></i>
                        性别
                    </template>
                    {{tableData.dsg_ssex22}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-timer"></i>
                        年龄
                    </template>
                    {{tableData.dsg_sage22}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-location-outline"></i>
                        生源地
                    </template>
                    {{tableData.dsg_aname22}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-tickets"></i>
                        备注
                    </template>
                    <el-tag size="small">学生</el-tag>
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-notebook-2"></i>
                        已修学分
                    </template>
                    {{tableData.dsg_ssum22}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-reading"></i>
                        班级
                    </template>
                    {{tableData.dsg_clname22}}
                </el-descriptions-item>
            </el-descriptions>
        </el-main>

    </div>
    <div  v-show="display2" >
        <el-input placeholder="请输入内容" v-model="input3" clearable  style="width: 220px;margin-left: 590px">
            <el-button slot="append" type="primary" icon="el-icon-search"  @click="submitWithKey">搜索</el-button>
        </el-input>
        <el-main>
            <el-table :data="tableData1"  height="580" border  highlight-current-row
                      @current-change="handleCurrentChange1">
                <el-table-column prop="sno" label="课程名">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_cname22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="studentName" label="学分">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_ccredit22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="sex" label="时间">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_cdate22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="age" label="分数" :sortable="true" :sort-method="sortByDate">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_score22 }}
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    background
                    @current-change="handleCurrentChange"
                    layout="prev, pager, next"
                    :total="1000" :current-page.sync="currentPage1" style="text-align: center">
            </el-pagination>
        </el-main>
    </div>
    <div  v-show="display3" >
        <el-main>
            <el-table :data="tableData2"  height="575" border  highlight-current-row
                      @current-change="handleCurrentChange1">
                <el-table-column prop="clno" label="班级编号">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_clno22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="clname" label="班级名称"
                                 :filters="[{text: '软工1701', value: '软工1701'}, {text: '软工1702', value: '软工1702'}, {text: '计科1701', value: '计科1701'}, {text: '计科1702', value: '计科1702'}]"
                                 :filter-method="filterHandler"
                >
                    <template slot-scope="scope">
                        {{ scope.row.dsg_clname22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="cno" label="课程编号">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_cno22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="cname" label="课程名称">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_cname22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="cdate" label="开设时间"
                                 :filters="[{text: '2017', value: '2017'}, {text: '2018', value: '2018'}, {text: '2019', value: '2019'}]"
                                 :filter-method="filterHandler1">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_cdate22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="ccredit" label="学分">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_ccredit22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="chour" label="学时">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_chour22 }}
                    </template>
                </el-table-column>
            </el-table>
        </el-main>
    </div>
    <div  v-show="display4" >
        <el-input
                type="text"
                v-model="sumscore" :disabled="true"
                show-word-limit clearable  style="width: 250px;margin-left: 240px"
        >
            <template slot="prepend">总学分</template>
        </el-input>
        <el-main>
            <el-table :data="tableData3"  height="575" border  highlight-current-row
                      @current-change="handleCurrentChange1">
                <el-table-column prop="cname" label="课程名称">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_cname22 }}
                    </template>
                </el-table-column>
                <el-table-column prop="clname" label="课程学分">
                    <template slot-scope="scope">
                        {{ scope.row.dsg_ccredit22 }}
                    </template>
                </el-table-column>
            </el-table>
        </el-main>
    </div>

</div>
</body>
<script>
    const vm =new Vue(
        {
            el: '#app',
            data() {
                return {
                    sumscore:'',
                    userName: '',
                    tableData: [],
                    tableData1: [],
                    tableData2: [],
                    tableData3: [],
                    page: 1,
                    activeIndex: '1',
                    dialog: false,
                    dialog1: false,
                    dialog2: false,
                    dialog3: false,
                    form: {
                        dsg_tno22: '',
                        dsg_tsex22: '',
                        dsg_tname22: '',
                        dsg_tage22: '',
                        dsg_tpos22: '',
                        dsg_tpho22: ''
                    },
                    form1: {
                        dsg_tno22: '',
                        dsg_tsex22: '',
                        dsg_tname22: '',
                        dsg_tage22: '',
                        dsg_tpos22: '',
                        dsg_tpho22: ''
                    },
                    form2: {
                        dsg_sno22: '',
                        dsg_ssex22: '',
                        dsg_sname22: '',
                        dsg_sage22: '',
                        dsg_aname22: '',
                        dsg_ssum22: '',
                        dsg_clname22: ''
                    },
                    form3: {
                        dsg_sno22: '',
                        dsg_ssex22: '',
                        dsg_sname22: '',
                        dsg_sage22: '',
                        dsg_aname22: '',
                        dsg_ssum22: '',
                        dsg_clname22: ''
                    },
                    formLabelWidth: '80px',
                    timer: null,
                    input3: '',
                    input4: '',
                    input5: '',
                    currentRow: null,
                    display1: true,
                    display2: false,
                    display3: false,
                    display4: false,
                    currentPage1:1,
                    currentPage2:1,
                    currentPage3:1,
                    currentPage4:1,
                }
            },
            created() {
                let that = this;
                that.$nextTick(() => {
                    var urlParam = this.getUrlParam('username',window.location.href);
                    console.log(urlParam);
                    console.log(encodeURI(urlParam));
                    let s = decodeURI(urlParam);
                    vm.$data.userName=s;
                });
            },
            mounted(){
                var urlParam = this.getUrlParam('username',window.location.href);
                var s = decodeURI(urlParam);
                axios({
                    method: "post",
                    url: "http://localhost:8080/pro1/StudentServlet",
                    params: {
                        type:'singleInformation',
                        sno: s
                    }
                }).then(function (response) {
                    var users = response.data;
                    var s1 = JSON.stringify(users);
                    var parse = JSON.parse(s1);
                    vm.$data.tableData=parse;
                })
                axios({
                    method: "post",
                    url: "http://localhost:8080/pro1/StudentServlet",
                    params: {
                        No:1,
                        keyWord:'',
                        type:'score',
                        sno:s
                    }
                }).then(function (response) {
                    var users = response.data;
                    var s = JSON.stringify(users);
                    var parse = JSON.parse(s);
                    vm.$data.tableData1=parse;
                })
                axios({
                    method: "post",
                    url: "http://localhost:8080/pro1/StudentServlet",
                    params: {
                        type:'classcourse'
                    }
                }).then(function (response) {
                    var users = response.data;
                    var s = JSON.stringify(users);
                    var parse = JSON.parse(s);
                    vm.$data.tableData2=parse;
                })

                axios({
                    method: "post",
                    url: "http://localhost:8080/pro1/StudentServlet",
                    params: {
                        type:'course',
                        sno:s
                    }
                }).then(function (response) {
                    var users = response.data;
                    var s = JSON.stringify(users);
                    var parse = JSON.parse(s);
                    vm.$data.tableData3=parse;
                })

                axios({
                    method: "post",
                    url: "http://localhost:8080/pro1/StudentServlet",
                    params: {
                        type:'credit',
                        sno:s
                    }
                }).then(function (response) {
                    var users = response.data;
                    vm.$data.sumscore=users;
                })

                this.$message({
                    message: '登录成功',
                    type: 'success'
                });

            },
            methods:{
                filterHandler(value, row, column) {
                    return row.dsg_clname22 === value;
                },
                filterHandler1(value, row, column) {
                    return row.dsg_cdate22 === value;
                },
                handleCommand(command) {
                    if(command=='a'){
                        window.location.href='updatePassword.html'+'?account='+vm.$data.userName+'&&identity=stu'
                    }
                    if (command=='b'){
                        window.location.href='login.html'
                    }
                },
                sortByDate(obj1, obj2){
                    let val1 = obj1.dsg_score22;
                    let val2 = obj2.dsg_score22;
                    return val1 - val2
                },
                submitWithKey(){
                    axios({
                        method: "post",
                        url: "http://localhost:8080/pro1/StudentServlet",
                        params: {
                            keyWord:vm.$data.input3,
                            No:1,
                            type:'score',
                            sno:vm.$data.tableData.dsg_sno22
                        }
                    }).then(function (response) {
                        vm.$data.currentPage1=1;
                        var users = response.data;
                        var s = JSON.stringify(users);
                        var parse = JSON.parse(s);
                        vm.$data.tableData1=parse;
                    })
                },
                submitWithKey1(){
                    axios({
                        method: "post",
                        url: "http://localhost:8080/pro1/StudentServlet",
                        params: {
                            type:'classcourse'
                        }
                    }).then(function (response) {
                        vm.$data.currentPage2=1;
                        var users = response.data;
                        var s = JSON.stringify(users);
                        var parse = JSON.parse(s);
                        vm.$data.tableData2=parse;
                    })
                },

                handleSelect(key, keyPath) {
                    console.log(key);
                    console.log(keyPath);
                    switch (key) {
                        case '1':{
                            vm.$data.display1=true;
                            vm.$data.display2=false;
                            vm.$data.display3=false;
                            vm.$data.display4=false;
                            break
                        }
                        case '2':{
                            vm.$data.display1=false;
                            vm.$data.display2=true;
                            vm.$data.display3=false;
                            vm.$data.display4=false;
                            break
                        }
                        case '3':{
                            vm.$data.display1=false;
                            vm.$data.display2=false;
                            vm.$data.display3=true;
                            vm.$data.display4=false;
                            break
                        }
                        case '4':{
                            vm.$data.display1=false;
                            vm.$data.display2=false;
                            vm.$data.display3=false;
                            vm.$data.display4=true;
                            break
                        }
                    }

                },
                handleEdit(index, row) {
                    console.log(index);
                    console.log(row);
                    vm.$data.dialog1=true;
                    vm.$data.form1.dsg_tno22=row.dsg_tno22;
                    vm.$data.form1.dsg_tsex22=row.dsg_tsex22;
                    vm.$data.form1.dsg_tname22=row.dsg_tname22;
                    vm.$data.form1.dsg_tage22=row.dsg_tage22;
                    vm.$data.form1.dsg_tpos22=row.dsg_tpos22;
                    vm.$data.form1.dsg_tpho22=row.dsg_tpho22;

                },
                handleEdit1(index, row) {
                    console.log(index);
                    console.log(row);
                    vm.$data.dialog3=true;
                    vm.$data.form3.dsg_sno22=row.dsg_sno22
                    vm.$data.form3.dsg_ssex22=row.dsg_ssex22
                    vm.$data.form3.dsg_sname22=row.dsg_sname22
                    vm.$data.form3.dsg_sage22=row.dsg_sage22
                    vm.$data.form3.dsg_aname22=row.dsg_aname22
                    vm.$data.form3.dsg_ssum22=row.dsg_ssum22
                    vm.$data.form3.dsg_clname22=row.dsg_clname22
                },
                handleDelete(row) {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/pro1/OperatorFordelServlet",
                        data: {
                            "No":vm.$data.currentPage1,
                            "tno":row.dsg_tno22,
                            "keyWord":vm.$data.input3,
                            "type":'teacher'
                        }
                    }).then(function (response) {
                        var users = response.data;
                        var s = JSON.stringify(users);
                        var parse = JSON.parse(s);
                        vm.$data.tableData=parse;
                    })
                },
                handleDelete1(row) {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/pro1/OperatorFordelServlet",
                        data: {
                            "No":vm.$data.currentPage2,
                            "sno":row.dsg_sno22,
                            "keyWord":vm.$data.input4,
                            "type":'student'
                        }
                    }).then(function (response) {
                        var users = response.data;
                        var s = JSON.stringify(users);
                        var parse = JSON.parse(s);
                        vm.$data.tableData1=parse;
                    })
                },
                handleCurrentChange(val) {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/pro1/StudentServlet",
                        params: {
                            No:val,
                            keyWord:vm.$data.input3,
                            type:'score',
                            sno:vm.$data.tableData.dsg_sno22
                        }
                    }).then(function (response) {
                        var users = response.data;
                        var s = JSON.stringify(users);
                        var parse = JSON.parse(s);
                        vm.$data.tableData1=parse;
                    })
                },
                handleCurrentChange2(val) {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/pro1/StudentServlet",
                        params: {
                            type:'classcourse'
                        }
                    }).then(function (response) {
                        var users = response.data;
                        var s = JSON.stringify(users);
                        var parse = JSON.parse(s);
                        vm.$data.tableData2=parse;
                    })
                },
                handleCurrentChange3(val) {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/pro1/OperatorServlet",
                        params: {
                            No:val,
                            keyWord:vm.$data.input5,
                            type:'area'
                        }
                    }).then(function (response) {
                        var users = response.data;
                        var s = JSON.stringify(users);
                        var parse = JSON.parse(s);
                        vm.$data.tableData2=parse;
                    })
                },
                getUrlParam: function getURLParameter(name, urlsearch) {
                    return (
                        decodeURIComponent(
                            (new RegExp("[?|&]" + name + "=" + "([^&;]+?)(&|#|;|$)").exec(
                                urlsearch || location.search
                            ) || [, ""])[1].replace(/\+/g, "%20")
                        ) || null
                    );
                },
                handleClose(done) {
                    this.$confirm('确定要关闭表单吗？').then(_ => {
                        done();
                    }).catch(_ => {});
                },
                cancelForm() {
                    this.dialog = false;
                },
                cancelForm1() {
                    this.dialog1 = false;
                },
                cancelForm2() {
                    this.dialog2 = false;
                },
                cancelForm3() {
                    this.dialog3 = false;
                },
                handleCurrentChange1(val) {
                    this.currentRow = val;
                }
            }
        }
    )
</script>
<style>
    .el-col {
        border-radius: 4px;
    }
    .bg-purple-dark {
        background: #99a9bf;
    }
    .bg-purple {
        background: #d3dce6;
    }
    .bg-purple-light {
        background: #e5e9f2;
    }
    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }
    .right {
        text-align: right;
    }

    .operate {
        width: 80%;
        height: 100%;
        /*background-size: cover;*/
    }

    .header {
        /*background-color: #EBEEF5;*/
        color: #909399;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

</style>


</html>