<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script type="text/javascript" src="../js/axios.js"></script>
  <script type="text/javascript" src="../js/vue.js"></script>

  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app" >
  <div>
    <img src="school.jpg" alt="" style="width: 100%;height: 170px;opacity:0.6">
  </div>
  <el-main>
    <el-breadcrumb separator-class="el-icon-arrow-right" style="margin-left: 200px;font-size: 15px">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>设置密码</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" @click="addStep" style="position: absolute; top:58%;left: 50%;transform: translate(-50%,-50%);width: 350px" v-show="!step3">下一步<i class="el-icon-arrow-right el-icon--right"></i></el-button>
    <el-input
            type="text"
            v-model="account" :disabled="true"
            show-word-limit clearable  style="width: 350px;position: absolute; top:42%;left: 50%;transform: translate(-50%,-50%)" v-show="step1"
    >
      <template slot="prepend">账号</template>
    </el-input>
    <el-input
            type="text"
            placeholder="请输入密码"
            v-model="password"
            show-word-limit clearable  style="width: 350px;position: absolute; top:50%;left: 50%;transform: translate(-50%,-50%)" v-show="step1"
    >
      <template slot="prepend">当前密码</template>
    </el-input>
    <el-input
            type="text"
            placeholder="请输入密码"
            v-model="newpassword"
            show-word-limit clearable  style="width: 350px;position: absolute; top:42%;left: 50%;transform: translate(-50%,-50%)" v-show="step2"
    >
      <template slot="prepend">新的密码</template>
    </el-input>
    <el-input
            type="text"
            placeholder="请输入密码"
            v-model="newpasswordcheck"
            show-word-limit clearable  style="width: 350px;position: absolute; top:50%;left: 50%;transform: translate(-50%,-50%)" v-show="step2"
    >
      <template slot="prepend">确认密码</template>
    </el-input>
    <el-result icon="success" title="已经成功重置密码" style="position: absolute; top:50%;left: 50%;transform: translate(-50%,-50%)" v-show="step3">
    </el-result>
    <el-steps :active="activeStep" finish-status="success" simple style="margin-top: 420px">
      <el-step title="确认身份" ></el-step>
      <el-step title="设置密码" ></el-step>
      <el-step title="改密成功" ></el-step>
    </el-steps>
  </el-main>
</div>
</body>
<script>
  const vm =new Vue(
          {
            el: '#app',
            data(){
              return {
                activeStep:1,
                step1:true,
                step2:false,
                step3:false,
                identity:'',
                account:'',
                password:'',
                newpassword:'',
                newpasswordcheck:''
              }
            },
            created() {
              var that = this;
              that.$nextTick(() => {
                let urlParam = this.getUrlParam('identity',window.location.href);
                let urlParam1 = this.getUrlParam('account',window.location.href);
                let s = decodeURI(urlParam);
                let s1 = decodeURI(urlParam1);
                that.$data.account=s1;
                that.$data.identity=s;
              });
            },
            mounted(){
              const h = this.$createElement;
              this.$message({
                message: h('p', null, [
                  h('span', null, '请输入 '),
                  h('i', { style: 'color: teal' }, '当前密码')
                ])
              });
            },
            methods:{
              addStep(){
                if(vm.$data.activeStep<=2){
                  vm.$data.activeStep++;
                  switch (vm.$data.activeStep) {
                    case 2:{
                      var flag=0;
                      axios({
                        method: "post",
                        url: "http://localhost:8080/pro1/TestAccountForLoginServlet",
                        data: {
                          dsg_account22: vm.$data.account,
                          dsg_password22: vm.$data.password,
                          dsg_identity:vm.$data.identity
                        }
                      }).then(function (response) {
                        if (response.data === "failed") {
                          vm.$data.activeStep--;
                          vm.$message.error('登录验证失败');
                        }else {
                          vm.$data.step2=true;
                          vm.$data.step1=false;
                          const h = this.$createElement;
                          this.$message({
                            message: h('p', null, [
                              h('span', null, '请输入 '),
                              h('i', { style: 'color: teal' }, '新的密码')
                            ])
                          });
                        }
                      })
                      break;
                    }

                    case 3:{
                      var window1 = window;
                      if (vm.$data.newpassword != vm.$data.newpasswordcheck){
                        vm.$data.activeStep--;
                        this.$message.error('确认密码与新密码不一致');
                        break;
                      }
                      vm.$data.step3=true;
                      vm.$data.step2=false;
                      axios({
                        method: "post",
                        url: "http://localhost:8080/pro1/UpdateAccountServlet",
                        data: {
                          account: vm.$data.account,
                          password: vm.$data.newpassword,
                          identity:vm.$data.identity
                        }
                      }).then(function (response) {
                        vm.$message('2秒后跳转登录界面');
                        setTimeout(function () {
                          window1.location.href='login.html';
                        }, 2000);
                      })
                      break;
                    }

                  }
                }
              },
              getUrlParam: function getURLParameter(name, urlsearch) {
                return (
                        decodeURIComponent(
                                (new RegExp("[?|&]" + name + "=" + "([^&;]+?)(&|#|;|$)").exec(
                                        urlsearch || location.search
                                ) || [, ""])[1].replace(/\+/g, "%20")
                        ) || null
                );
              },
              goBack() {
                console.log('go back');
              }
            }
          }
  )
</script>
<style>
  .img1{
    background: url('../img/school.jpg') no-repeat;
    width: 100%;
    height: 50px;
    background-size: cover;
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .right {
    text-align: right;
  }

  .operate {
    width: 80%;
    height: 100%;
    /*background-size: cover;*/
  }

  .header {
    /*background-color: #EBEEF5;*/
    color: #909399;
    line-height: 60px;
  }

  .el-aside {
    color: #333;
  }

</style>


</html>